

.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12vh;
}

#pieles {
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
}

.parada {
    position: static;
    padding-top: 25px;
    padding-left: 6%;
    padding-right: 6%;
}

.parada img{
    height: 601px;
    width: 443px;
    background-color: aquamarine;
    border: ridge;
    transition: filter .5s;
    position: static;
}
.parada:hover img {
    filter: blur(15px);
}

.parada-texto {
    position: absolute;
    z-index: 10;
    top: 41%;
    left: 28%;
    display: none;
    width: 210px;
    text-align: center;
}

.parada:hover .parada-texto{
    display: block;
}
.acostado-texto-A{
    top: 34%;
    left: 66%;
    position: absolute;
    display: none;
    width: 274px;
    text-align: justify;

}
.parada-texto-B {
    position: absolute;
    z-index: 10;
    top: 166%;
    left: 28%;
    display: none;
    width: 210px;
    text-align: center;
}

.parada:hover .parada-texto-B{
    display: block;
}
.acostado:hover img{
    filter: blur(15px)
}
.acostado:hover .acostado-texto-A{
    display: block;
}

.acostado img {
    background-color: blue;
    width: 110%;
    height: 284px;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 50px;
    border: ridge;
    transition: filter .5s;
    position: static;
}

.acostado-texto-B{
    position: absolute;
    z-index: 10;
    top: 79%;
    transform: translateY(-50%);
    left: 72%;
    transform: translateX(-50%);
    display: none;
    width: 291px;
    text-align: justify;
   
}
.acostado:hover .acostado-texto-B{
    display: block;
}

.acostado-texto-C {
    position: absolute;
    z-index: 10;
    top: 157%;
    transform: translateY(-50%);
    left: 74%;
    transform: translateX(-50%);
    display: none;
    text-align: justify;
    width: 415px;
}

.acostado:hover .acostado-texto-C {
    display: block;
    }
.acostado-texto-D{
        position: absolute;
        z-index: 10;
        top: 202%;
        transform: translateY(-50%);
        left: 74%;
        transform: translateX(-50%);
        display: none;
        width: 425px;
        text-align: justify;
    }
    
.acostado:hover .acostado-texto-D {
        display: block;

        }
h1 {
  
    font-weight: 400px;
    text-align: center;
    font-size: 40px;  
}

h3 {
    margin: 0%;
    display: inline;
}

article {
    width: 100%;
    box-sizing: border-box;
}
