@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Poppins:wght@200&family=Yeseva+One&display=swap');

/*
       font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: #d8c6ba;
    display:flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    border-bottom: 2px solid rgb(243, 237, 237);
}
.Text-center{
    text-align: center;
}
body{
    font-family: 'Poppins', sans-serif;
}
.aling-items{
    display: flex;
    justify-content:space-evenly;
}
.li-decoration{
    list-style-type: none;
    margin: 10px;
}

.a-decoration{
    text-decoration: none;
    color: #000000;
}
.background-blur{
    backdrop-filter: blur(5px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
}
.btn-bubble{
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    box-shadow: #ebe3df 0px -23px 25px 0px inset, #fffbffd2 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 14px 4px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.btn-bubble a{
    color: rgb(119, 119, 119);
}
.element-inline{
    display: inline;
    font-weight: bold;
}
#header-index{
    height: 80vh;
    background: url("images/22.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*********Makeup Cards******/
.MakeUp-Levels{
    width: 30%;
    height: 200px;   
    border-radius: 10px; 
    background: rgba(238, 238, 238,1);
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.MP-A{
    background-color:   rgb(204, 145, 145);
}
.MP-B{
    background-color: #eee;
}
.MP-C{
    background-color:   rgb(204, 145, 145);
}

.MakeUp-Levels div{
    padding-top: 50px;
    width: 50%;
}
.MakeUp-Levels div p{
    font-size: 15px;
}
.MakeUp-Levels img{
    margin: 20px 0 20px 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 300ms;
}
.MakeUp-Levels img:hover{
    transform: translateY(-20px);
    transform: scale(1.1);
}
.btn-ovalado{
    width:200px;
    height: 70px;
    background-color: #DED3CA;
    border: 1px solid #ffffff;
    margin-top: 10px;
    color: #8DAAA6;
    border-radius: 100% 0;
}
.back-rosa{
    background: #d8c6ba;
       border-top: 1px solid white;
}
.card-arco-arriba{
    width: 200px;
    background-color: #EEE;
    border-radius: 50% 50% 0 0;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid rgba(151, 96, 67, 0.705);
}
.card-arco-arriba img{
    width: 100%;
    height: 200px;
    border-radius: 50% 50% 0 0;
}
.card-arco-arriba p{
    padding: 10px;
    color: #36325c;
}

.btn-redondo{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background-color: #DED3CA;
    color: rgba(151, 96, 67, 0.705);
    border: none;
    margin-left: 50px;
    margin-bottom: 10px;
}
.btn-redondo a{
    text-decoration: none;
    color: rgba(151, 96, 67, 0.705);
}

footer{
    height: 100px;
    padding-top: 20px;
}
footer a svg{
    color: rgb(107, 46, 46);
    margin: 17px;

}
footer a{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    backdrop-filter: blur(15px);
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),8px 8px 15px rgb(0, 0, 0, 0.2), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
/*Calendar*/
.month i{
    text-align: center;
    color: #446b66;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),8px 8px 15px rgb(0, 0, 0, 0.2), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.weekdays{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.weekdays div{
    width: calc(60vw / 7);
    display: flex;
    justify-content: center;
}
.weekdays div span{
    width: 50px;
    height: 50px;
    text-align: center;
    background: #8DAAA6;
    border-radius:50% ;
    padding-top: 10px;

}
/*********************Especificaciones*************************************/
.content-column p{
    width: 400px;
    text-align: justify;
    color: #EEE;
}
.content-column h2{
    text-align: center;
    color: #EEE;
}
.content-column p, .btn-ovalado{
    margin-right:auto;
    margin-left: auto;
}
.content-column span{
    color: rgba(151, 96, 67, 0.911);
}

    .container-card{            /*Angie dia del 28/10*/
        width: 80%;
        margin:auto;
        display: flex;
        flex-wrap: wrap;
    }

    .cover-card{
        width: auto;
        height: auto;
    }


    .btn{  /*Boton Angie*/
        background: rgba(231, 141, 56, 0.911);
        border: black;
    }

    .card{
        position: static;
    }
    
    



    
.item-card{
    width: 350px;
}
.prev::before{
    font-size: 30px;
    padding-top: 10px;
}
.next::before{
    font-size: 30px;
    padding-top: 10px;
}
.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.days div{
  font-size: 1.4rem;
  width: calc(60vw / 7);
  height: calc(60vw/7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}
.days div:hover:not(.today) {
    border-radius: 50%;
    cursor: pointer;
    border: 6px solid #eaeef0;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),
    8px 8px 15px rgb(0, 0, 0, 0.2), 
    inset 3px 3px 5px rgba(0, 0, 0, 0.1),
    inset -1px -1px 5px rgba(255, 255, 255, 1) ;
}
  
.prev-date,
.next-date {
    opacity: 0.5;
}
.container-calendar{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.main-calendar{
    background-color: #eeeeee;
}

/*Caja de descripciones para form*/
.form-calendar{
    width: 90%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 1px solid #8DAAA6;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.form-calendar label{
    color:#446b66;
    border:#446b66;
    font-size: 20px;
    font-weight: bold;
    text-shadow:  3px 1px rgb(0, 0, 0);
}
.form-calendar input{
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 20vh;
    background: linear-gradient(90deg, rgba(68, 107, 102, 0.31) 29%, rgba(250,250,245,0.31) 96%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(2.3px);
    border: 1px solid rgba(255, 255, 255, 0.32);
    outline: none;
}
.calendar-anadir,.calendar-guardar{
    color: #446b66;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border:1px solid #a9acab ;
}

.notas{
    width: 60vw;
    background: url("images/71.jpg");
    background-size: cover;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
}
.notas h2{
    color: #eee;
    display: inline;
    font-size: 22px;
    text-shadow: 1px 1px 2px black;
}


/*Section home curiosidades**/
.content-img-text{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}
.content-img-text img{
    margin-top: 148px;
    width: 440px;
    height: 440px;
    border: 10px solid  #d8c6ba;
    border-radius: 50%;
 
}
@keyframes skew {
    0% {
      transform: skew(10deg, 10deg);
    }
    100% {
      transform: skew(-10deg, -10deg);
    }
}
.content-img-text aside{
    width: 35vw;
    margin-top: 313px;
    margin-bottom: auto;
}
.content-img-text aside button{
    border: 1px solid #d373ff;
    border-radius: 0;
    background: none;
    color: #36325c;
    margin-top: 10px;
    padding: 10px;
}

/**************************CURIOSIDADES**********************************/
#Descubre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #eee;
    height: 100 vh;
}
#Descubre section{
    margin-top: 50px;
}
#Descubre aside{
    width: 200px;
    margin-top: 100px;
}
#Descubre aside h3{
    color: #446b66;
    border-bottom: 2px solid rgba(255,241,70,1) ;
}
#Descubre aside li{
   margin-top: 15px;
   list-style-type:none;
}
#Descubre aside li a{
    text-decoration: none;
    color: #36325c;
    font-family: 'Libre Baskerville', serif;
}
.descubre{
    width:30vw;
    height:50vh;
    border-radius: 20px;
    padding:20px;
    background: rgb(30,170,215);
    background: linear-gradient(50deg, rgba(30,170,215,0) 15%, rgba(77,129,212,1) 10%, rgb(255, 137, 47) 100%);
}
.descubre p{
    text-align: justify;
}
#advertencias article{
    background: rgb(224,0,193);
    background: linear-gradient(150deg, rgba(224,0,193,1) 15%, rgba(77,129,212,1) 80%, rgba(30,170,215,0) 15%);
}

/*Nosotras*/

#introduccion{
    background-image: url(images/13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
    padding-top: 50px;
    height: 700px;
    flex-direction: column;
}



.foto{
    width: 150px;
    border-radius: 50%;
}

.flotar{
    display:flex;
    flex-wrap:nowrap;
    box-sizing: content-box;
    justify-content: space-evenly;
}

#bloque-texto{
    background-color: rgba(245, 245, 245, 0.775);
    width: 80%;
    height: 46vh;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 20px 5% 0px 5%;
    box-sizing: border-box;
    text-align: justify;
    border-radius: 5px;
}

#bloque-texto h1{
    font-size: 50px;
    padding-bottom: 15px;
    text-align: center;
}

#bloque-texto p{
    font-size: 18px;
    text-align: justify;
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;}

.tituloNos {
    color: rgb(167 112 73);

}
