@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Poppins:wght@200&family=Yeseva+One&display=swap');
/*
       font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Text-center{
    text-align: center;
}
body{
    font-family: 'Poppins', sans-serif;
}
.aling-items{
    display: flex;
    justify-content:space-evenly;
}
.li-decoration{
    list-style-type: none;
    margin: 10px;
}

.a-decoration{
    text-decoration: none;
    color: #8DAAA6;
}
.background-blur{
    backdrop-filter: blur(15px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
}
.btn-bubble{
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    box-shadow: rgba(255, 255, 255, 0.774) 0px -23px 25px 0px inset, #fffbffd2 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 14px 4px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.btn-bubble a{
    color: rgb(119, 119, 119);
}
.element-inline{
    display: inline;
}
#header-index{
    height: 80vh;
    background: url("images/22.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-ovalado{
    width:200px;
    height: 70px;
    background-color: #DED3CA;
    border: 1px solid #ffffff;
    margin-top: 10px;
    color: #8DAAA6;
    border-radius: 100% 0;
}
.back-rosa{
    background-color: #DED3CA;
}
.card-arco-arriba{
    width: 200px;
    background-color: #EEE;
    border-radius: 50% 50% 0 0;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid rgba(151, 96, 67, 0.705);
}
.card-arco-arriba img{
    width: 100%;
    height: 200px;
    border-radius: 50% 50% 0 0;
}
.card-arco-arriba p{
    padding: 10px;
    color: #36325c;
}

.btn-redondo{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background-color: #DED3CA;
    color: rgba(151, 96, 67, 0.705);
    border: none;
    margin-left: 50px;
    margin-bottom: 10px;
}
.btn-redondo a{
    text-decoration: none;
    color: rgba(151, 96, 67, 0.705);
}
.content-img-text{
    display:flex;
    justify-content:space-evenly;
}
.content-img-text img{
    width: 30wh;
    height: 90vh;
}
.content-img-text p,.content-img-text h2{
    color: rgba(151, 96, 67, 0.705);
}
.content-img-text div{
    width: 400px;
}
.content-img-text div span{
    font-size: 100px;
    display: block;
    text-align: center;
}
footer{
    background: url("images/64.jpeg");
    background-size: cover;
    height: 100px;
    padding-top: 20px;
}
footer a svg{
    color: black;
    margin: 17px;
}
footer a{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    backdrop-filter: blur(15px);
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),8px 8px 15px rgb(0, 0, 0, 0.2), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
/* Form Register */
#body-register{
    background-image: url("images/6.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#main-register{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedorTodo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.cajaTrasera{
    width: 100%;
    padding: 10px 20px; 
    display: flex;
    justify-content: center;
    backdrop-filter: blur(15px);
    background-color: rgba(62, 56, 91, 0.156);
}

.cajaTrasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.cajaTrasera div p, 
.cajaTrasera div button{
    margin-top: 30px;
}

.cajaTrasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.cajaTrasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    border-radius: 20px;
}

.cajaTrasera button:hover{
    background: #fff;
    color: rgba(31, 31, 31, 0.738);
}

/*Formularios*/
.contenedorLoginRegistro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}


.contenedorLoginRegistro form{
    width: 100%;
    padding: 80px 20px;
    background: rgb(238, 237, 240);
    position: absolute;
    border-radius: 20px;
}

.contenedorLoginRegistro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgba(37, 35, 37, 0.792);
}

.contenedorLoginRegistro form input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #d5cece8c;
    font-size: 16px;
    outline: none;
    border-radius: 10px;

}

.contenedorLoginRegistro form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #181818fe;
    color: rgb(241, 237, 237);
    cursor: pointer;
    outline: none;
    border-radius: 20px;

}

.formularioLogin{
    opacity: 1;
    display: block;
}

.formularioRegistro{
    display: none;
}

.warningsR{
    width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    color: rgba(25, 23, 35, 0.942);
    padding: 10px;
}

.warningsL{
    width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    color: rgba(25, 23, 35, 0.942);
    padding: 10px;
}

/* Responsive desing*/
@media screen and (max-width: 850px) {
   
    main{
        margin-top: 50px;
    }

    .cajaTrasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .cajaTrasera div{
        margin: 0px;
        position: absolute;
    }

    /*Formulario*/

    .contenedorLoginRegistro{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedorLoginRegistro form{
        position: relative;
    }
}
/*********************Especificaciones*************************************/
.content-column p{
    width: 400px;
    text-align: justify;
    color: #EEE;
}
.content-column h2{
    text-align: center;
    color: #EEE;
}
.content-column p, .btn-ovalado{
    margin-right:auto;
    margin-left: auto;
}
.content-column span{
    color: rgba(151, 96, 67, 0.911);
}
